body{
  margin: 0px;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #222;
  font-family: 'Open Sans', sans-serif;
  background-image: url('./image/diell.png');
  background-size: cover;
  background-position: center;
  margin: 0px;
  font-size: 120%;
  width: 100%;
  
}

.snow{
  /* background: #222; */
  background-image: url('./image/snow.jpg');
  background-size: cover;
  background-position: center;
   margin: 0;
}

.card {
  background: #eaeaea;
  padding: 2em;
  border-radius: 33px;
  width: 100%;
  max-width: 430px;
  margin: 2em;
}

.search {

  display: flex;
  align-items: center;
  justify-content: center;
}

/* .button {

  margin: 0.5em;
  
  border-radius: 50%;
  
  border: none;
  
  height: 50px;
  
  width: 50px;
  
  background-color: green;
  
  cursor: pointer;
  
  transition: ease-in-out 0.2s;
  } */
  .search-bar {
      border: none;
      outline: none;
      padding: 1em;
      background-color: lightsteelblue;
      border-radius: 22px;
      color: black;
      font-size: 100%;
     
      
  }    

   .weather.loading {

      visibility: hidden;
      max-height: 23px;
      position: relative;
   } 

   
   .weather.loading:after {

      visibility: visible;
      content: "Loading..." ;
      color: black;
      position: absolute;
      top: 0;
      left: 15px;
   }

   .app {
      background-image: url('./image/sun.png');
      background-size: cover;
      background-position: bottom;
      transition: 0.4 ease;
      margin: 0;
    }
    